<!--aboutWp-->
<div class="aboutWp">
    <div class="container">
        <div class="aboutWp__wrapper">
            <div class="aboutWp__img"><img src="images/people-about.png" alt="people-about.png"></div>
            <div class="aboutWp__box">
                <div class="title title--big">
                    <h2 class="title__text">Tentang Wakalahmu</h2>
                </div>
                <div class="aboutWp__body">
                    <p class="aboutWp__body__text">Quo ex ocurreret quaerendum. Mel cu ancillae similique. Mei no ubique
                        persecuti, at sit iusto aliquam interpretaris.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--aboutWp-->
