<!--card-->
<div class="card__content clearfix">
	<div class="card__item">
		<div class="card__action">
			<a href="#" class="card__remove" id="js-card-rem">
				<span class="icon icon-close"></span>
			</a>
		</div>
		<div class="card__body pure-g">
			<div class="card__head pure-u-1 pure-u-md-1 pure-u-xl-16-24">
				<div class="card__img">
					<img src="images/asuransi.png" alt="asuransi.png">
				</div>
				<div class="card__desc">TLO (Total Lost Only) - 12 Bengkel  di DKI Jakarta</div>
			</div>
			<div class="card__box pure-u-1 pure-u-md-1 pure-u-xl-8-24">
				<div class="card__desc">Premi per 1 tahun</div>
				<div class="card__price">RP. 665.000</div>
				<button type="button" class="button button--primary" href="#js-modal">Pilih Sekarang</button>
			</div>
		</div>
	</div>
	<div class="card__item">
		<div class="card__action">
			<a href="#" class="card__remove" id="js-card-rem">
				<span class="icon icon-close"></span>
			</a>
		</div>
		<div class="card__body pure-g">
			<div class="card__head pure-u-1 pure-u-md-1 pure-u-xl-16-24">
				<div class="card__img">
					<img src="images/asuransi.png" alt="asuransi.png">
				</div>
				<div class="card__desc">TLO (Total Lost Only) - 12 Bengkel  di DKI Jakarta</div>
			</div>
			<div class="card__box pure-u-1 pure-u-md-1 pure-u-xl-8-24">
				<div class="card__desc">Premi per 1 tahun</div>
				<div class="card__price">RP. 665.000</div>
				<button type="button" class="button button--primary" href="#js-modal">Pilih Sekarang</button>
			</div>
		</div>
	</div>
	<div class="card__item">
		<div class="card__action">
			<a href="#" class="card__remove" id="js-card-rem">
				<span class="icon icon-close"></span>
			</a>
		</div>
		<div class="card__body pure-g">
			<div class="card__head pure-u-1 pure-u-md-1 pure-u-xl-16-24">
				<div class="card__img">
					<img src="images/asuransi.png" alt="asuransi.png">
				</div>
				<div class="card__desc">TLO (Total Lost Only) - 12 Bengkel  di DKI Jakarta</div>
			</div>
			<div class="card__box pure-u-1 pure-u-md-1 pure-u-xl-8-24">
				<div class="card__desc">Premi per 1 tahun</div>
				<div class="card__price">RP. 665.000</div>
				<button type="button" class="button button--primary" href="#js-modal">Pilih Sekarang</button>
			</div>
		</div>
	</div>
	<div class="card__item">
		<div class="card__action">
			<a href="#" class="card__remove" id="js-card-rem">
				<span class="icon icon-close"></span>
			</a>
		</div>
		<div class="card__body pure-g">
			<div class="card__head pure-u-1 pure-u-md-1 pure-u-xl-16-24">
				<div class="card__img">
					<img src="images/asuransi.png" alt="asuransi.png">
				</div>
				<div class="card__desc">TLO (Total Lost Only) - 12 Bengkel  di DKI Jakarta</div>
			</div>
			<div class="card__box pure-u-1 pure-u-md-1 pure-u-xl-8-24">
				<div class="card__desc">Premi per 1 tahun</div>
				<div class="card__price">RP. 665.000</div>
				<button type="button" class="button button--primary" href="#js-modal">Pilih Sekarang</button>
			</div>
		</div>
	</div>
	<div class="card__item">
		<div class="card__action">
			<a href="#" class="card__remove" id="js-card-rem">
				<span class="icon icon-close"></span>
			</a>
		</div>
		<div class="card__body pure-g">
			<div class="card__head pure-u-1 pure-u-md-1 pure-u-xl-16-24">
				<div class="card__img">
					<img src="images/asuransi.png" alt="asuransi.png">
				</div>
				<div class="card__desc">TLO (Total Lost Only) - 12 Bengkel  di DKI Jakarta</div>
			</div>
			<div class="card__box pure-u-1 pure-u-md-1 pure-u-xl-8-24">
				<div class="card__desc">Premi per 1 tahun</div>
				<div class="card__price">RP. 665.000</div>
				<button type="button" class="button button--primary" href="#js-modal">Pilih Sekarang</button>
			</div>
		</div>
	</div>
	<div class="card__item">
		<div class="card__action">
			<a href="#" class="card__remove" id="js-card-rem">
				<span class="icon icon-close"></span>
			</a>
		</div>
		<div class="card__body pure-g">
			<div class="card__head pure-u-1 pure-u-md-1 pure-u-xl-16-24">
				<div class="card__img">
					<img src="images/asuransi.png" alt="asuransi.png">
				</div>
				<div class="card__desc">TLO (Total Lost Only) - 12 Bengkel  di DKI Jakarta</div>
			</div>
			<div class="card__box pure-u-1 pure-u-md-1 pure-u-xl-8-24">
				<div class="card__desc">Premi per 1 tahun</div>
				<div class="card__price">RP. 665.000</div>
				<button type="button" class="button button--primary" href="#js-modal">Pilih Sekarang</button>
			</div>
		</div>
	</div>
</div>
<!--card-->