<!--filter box-->
<div class="filter">
    <div class="filter__body">
        <div class="title title--smallest title--dark">
            <h2 class="title__text">Cakupan Perluasan :</h2>
        </div>
        <ul class="filter__list checkbox js-scroll">
            <li>
                <input id="1-option" type="checkbox" class="checkbox__input">
                <label for="1-option" class="checkbox__label">Gempa Bumi, Tsunami</label>
            </li>
            <li>
                <input id="2-option" type="checkbox" class="checkbox__input">
                <label for="2-option" class="checkbox__label">Banjir, Angin Topan, Angin Ribut</label>
            </li>
            <li>
                <input id="3-option" type="checkbox" class="checkbox__input">
                <label for="3-option" class="checkbox__label">Kerusuhan & Huru hara</label>
            </li>
            <div id="slider"></div>
            <li>
                <input id="4-option" type="checkbox" class="checkbox__input">
                <label for="4-option" class="checkbox__label">Terorisme & Sabotase</label>
            </li>
            <li>
                <input id="5-option" type="checkbox" class="checkbox__input">
                <label for="5-option" class="checkbox__label">Third Party Liability (TPL)</label>
            </li>
            <li>
                <input id="6-option" type="checkbox" class="checkbox__input">
                <label for="6-option" class="checkbox__label">Kecelakaan Diri Pengemudi</label>
            </li>
            <li>
                <input id="6-option" type="checkbox" class="checkbox__input">
                <label for="6-option" class="checkbox__label">Kecelakaan Diri Pengemudi</label>
            </li>
            <li>
                <input id="6-option" type="checkbox" class="checkbox__input">
                <label for="6-option" class="checkbox__label">Kecelakaan Diri Pengemudi</label>
            </li>
        </ul>
    </div>
</div>
<!--filter box-->