<footer class="footer">
    <div class="container container--large clearfix">
        <div class="footer__wrapper pure-g">
            <div class="footer__intro pure-u-1 pure-u-md-8-24">
                <div class="footer__logo">
                    <a href="index.html" class="footer__icon">
                        <img src="images/logo-black.png" alt="logo-black.png">
                    </a>
                </div>
                <p class="footer__intro__text">Pro eu apeirian suavitate dissentiet, qui dicunt ancillae id, ne mea
                    homero persequeris.</p>
                <ul class="social__list">
                    <li class="social__item"><a href="#"><span class="social__icon icon-fb"></span></a></li>
                    <li class="social__item"><a href="#"><span class="social__icon icon-instagram"></span></a></li>
                    <li class="social__item"><a href="#"><span class="social__icon icon-tw"></span></a></li>
                </ul>
            </div>
            <div class="footer__menu pure-u-1 pure-u-md-8-24">
                <p class="footer__menu__lead">Our Product</p>
                <ul class="footer__menu__list">
                    <li class="footer__menu__item"><a href="#">Asuransi Kendaraan Bermotor</a></li>
                    <li class="footer__menu__item"><a href="#">Asuransi Perjalanan</a></li>
                    <li class="footer__menu__item"><a href="#">Asuransi Kesehatan</a></li>
                    <li class="footer__menu__item"><a href="#">Asuransi Bantuan</a></li>
                </ul>
            </div>
            <div class="footer__menu pure-u-1 pure-u-md-8-24">
                <p class="footer__menu__lead">Menu Lainnya</p>
                <ul class="footer__menu__list">
                    <li class="footer__menu__item"><a href="#">Help</a></li>
                    <li class="footer__menu__item"><a href="#">FAQ</a></li>
                    <li class="footer__menu__item"><a href="#">Terms & Conditions</a></li>
                </ul>
            </div>
        </div>
        <p class="footer__copyright">© Wakalahmu, 2019. All rights reserved.</p>
    </div>
</footer>
