<!-- Header -->
<header class="header" id="js-nav">
    <div class="header__circle">
    </div>
    <div class="header__wrapper container container--large">
        <div class="header__logo">
            <a href="index.html" class="header__img"><img src="images/logo-white.png" alt="logo-white.png"></a>
        </div>
        <div class="header__nav">
            <nav class="header__menu">
                <ul class="header__list">
                    <li class="header__link"><a href="index.html">Beranda</a></li>
                    <li class="header__link "><a
                            href="tentang.html">Tentang</a></li>
                    <li class="header__link "><a href="form-asuransi.html">Produk</a>
                    </li>
                    <li class="header__link "><a href="search-asuransi.html">Klaim</a>
                    </li>
                    <li class="header__link "><a href="#">Kontak</a>
                    </li>
                </ul>
            </nav>
            <button class="button button--secondary">Sign up</button>
        </div>
    </div>
</header>
<!-- Header -->
