<!--productWp-->
<div class="productWp">
    <div class="container">
        <div class="productWp__wrapper">
            <div class="productWp__float">
                <div class="title title--big text-center">
                    <h2 class="title__text">Produk Asuransi Syariah</h2>
                </div>
                <div class="body text-center">
                    <p class="body__text">Eu minim movet quodsi eum. Et vim dolore epicurei, ut aeque postea nam, at posse dicta est.</p>
                </div>
                <div class="productWp__star"><img src="images/star.png" alt="star.png"></div>
            </div>

            <div class="productWp__list pure-g">
                <div class="productWp__item pure-u-12-24 pure-u-md-6-24">
                    <div class="productWp__box">
                        <img src="images/insurance-01.png" alt="insurance-01.png" class="productWp__img">
                    <h3 class="productWp__title">Kendaraan Bermotor</h3>
                    <p class="productWp__text">Pro ad ubique erroribus, in modo mutat sed. Suscipit, natum animal qui et.</p>
                    </div>
                    <a href="form-asuransi.html" class="productWp__link">Learn more</a>
                </div>
                <div class="productWp__item pure-u-12-24 pure-u-md-6-24">
                    <div class="productWp__box">
                        <img src="images/insurance-02.png" alt="insurance-02.png" class="productWp__img">
                    <h3 class="productWp__title">Perjalanan</h3>
                    <p class="productWp__text">Pro ad ubique erroribus, in modo mutat sed. Suscipit, natum animal qui et.</p>
                    </div>
                    <a href="form-asuransi.html" class="productWp__link">Learn more</a>
                </div>
                <div class="productWp__item pure-u-12-24 pure-u-md-6-24">
                    <div class="productWp__box">
                        <img src="images/insurance-03.png" alt="insurance-03.png" class="productWp__img">
                    <h3 class="productWp__title">Kesehatan</h3>
                    <p class="productWp__text">Pro ad ubique erroribus, in modo mutat sed. Suscipit, natum animal qui et.</p>
                    </div>
                    <a href="form-asuransi.html" class="productWp__link">Learn more</a>
                </div>
                <div class="productWp__item pure-u-12-24 pure-u-md-6-24">
                    <div class="productWp__box">
                        <img src="images/insurance-04.png" alt="insurance-04.png" class="productWp__img">
                    <h3 class="productWp__title">Kebakaran</h3>
                    <p class="productWp__text">Pro ad ubique erroribus, in modo mutat sed. Suscipit, natum animal qui et.</p>
                    </div>
                    <a href="form-asuransi.html" class="productWp__link">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--productWp-->
