<!--testimonial-->
<div class="testimonial">
    <div class="title title--big">
        <h2 class="title__text">Testimonial</h2>
    </div>
    <div class="testimonial__list" id="js-testimonial">
        <div class="testimonial__item">
            <div class="testimonial__img"><img src="https://picsum.photos/id/433/231/231" alt=""></div>
            <h3 class="testimonial__name">Indriana</h3>
            <p class="testimonial__text">Mea iisque mentitum signiferumque te, sed commune erroribus scripserit ut, vocibus facilis sea an. Fabulas invenire partiendo eu ius. Sale veritus cu est, homero perpetua. </p>
            <p class="testimonial__loc">Jakarta</p>
        </div>
        <div class="testimonial__item">
            <div class="testimonial__img"><img src="https://picsum.photos/id/447/231/231" alt=""></div>
            <h3 class="testimonial__name">Bayu Prakoso</h3>
            <p class="testimonial__text">Mea iisque mentitum signiferumque te, sed commune erroribus scripserit ut, vocibus facilis sea an. Fabulas invenire partiendo eu ius. Sale veritus cu est, homero perpetua. </p>
            <p class="testimonial__loc">Jakarta</p>
        </div>
        <div class="testimonial__item"> 
            <div class="testimonial__img"><img src="https://picsum.photos/id/497/231/231" alt=""></div>
            <h3 class="testimonial__name">Bopak Castello</h3>
            <p class="testimonial__text">Mea iisque mentitum signiferumque te, sed commune erroribus scripserit ut, vocibus facilis sea an. Fabulas invenire partiendo eu ius. Sale veritus cu est, homero perpetua. </p>
            <p class="testimonial__loc">Jakarta</p>
        </div>
    </div>
</div>
<!--testimonial-->
